
{% extends "base_page.html" %}

{% block title %}Advanced Search{% endblock %}

{% block content %}
	{% load mytags %}
	<div class="container">
		
		<!-- Define a nice little form here -->
		<div class="jumbotron">
			<br>
			<br>
			<h4>Advanced Search</h4>
			<br>
			<form id="searchform" action="" method="GET">
				<div class="row">
					<input type="hidden" name="search" value="search">
					<div class="col-sm-11"><input type="text" style="width: 100%; border-radius: 5px;" id="query" name="query" placeholder="Enter your query here"></div>
					<div class="col-sm-1"><button type="button" id="searchbutton"><i class="fa fa-search" aria-hidden="true"></i></button></div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<h5>Search by</h5>
						<select multiple="multiple" name="parameters" id="parameters">
							<option value="name">Name</option>
							<option value="publications">Publications</option>
							<option value="genres">Genres</option>
							<option value="authors">Authors</option>
							<option value="isbn">ISBN</option>
							<option value="description">Description</option>
						</select>
					</div>
					<div class="col-sm-4">
						<h5>Sort by</h5>
						<select name="sortCondition" id="sortCondition">
							<option value="name" selected="selected">Name</option>
							<option value="popularity">Popularity</option>
						</select>
					</div>
					<div class="col-sm-4">
						
					</div>
				</div>



			</form>
		</div>

		{% if results %}
		<h4>Search results</h4> 
			{% if books %}
				{% for book in books %}
				<div class="jumbotron">
					<h4><a href="{% url 'book_details' book.ISBN %}">{{book.name|capfirst}}</a></h4>
					<b>Score:</b> {{book.score}} <br>
					<b>ISBN:</b> {{book.ISBN}} <br>
					<b>Description:</b> {{book.description|capfirst}} <br>

					<b>Authors:</b> {% for author in book.authors.all %} <a href="{% url 'author_details' author.ID %}" class="text-success">{{author.name}}</a> {% endfor %} <br>
					<b>Genres:</b> {% for genre in book.genres.all %} <a href="{% url 'genre_details' genre.ID %}" class="text-success">{{genre.name}}</a> {% endfor %} <br>
					<b>Publication:</b> <a href="{% url 'publication_details' book.publication.ID %}" class="text-success">{{book.publication.name}}</a> <br>

					<select name="{{book.ISBN}}" id="{{book.ISBN}}" class="wishlist">
								<option value="none" {% if book.wish_status == -1 %} selected="selected" {% endif %}>None</option>
								<option value="RE" {% if book.wish_status == 0 %} selected="selected" {% endif %}>Read</option>
								<option value="CR" {% if book.wish_status == 1 %} selected="selected" {% endif %}>Currently Reading</option>
								<option value="WR" {% if book.wish_status == 2 %} selected="selected" {% endif %}>Want to read</option>
					</select> <br>

					<select name="{{book.ISBN}}" id="{{book.ISBN}}" class="owned_books">
								<option value="none" {% if book.owned_status == -1 %} selected="selected" {% endif %}>None</option>
								<option value="AV" {% if book.owned_status == 0 %} selected="selected" {% endif %}>Available</option>
								<option value="UA" {% if book.owned_status == 1 %} selected="selected" {% endif %}>Unavailable</option>
								<option value="LE" {% if book.owned_status == 2 %} selected="selected" {% endif %}>Lent</option>
					</select> <br>

				</div>
				{% endfor %}
				{# Here the book thingy ends #}
				<div class="pagination text-center container">
				    <span class="step-links">
				        {% if books.has_previous %}
				            <a href="?{% url_replace request 'page' books.previous_page_number %}" class="btn btn-primary">Previous</a>
				        {% endif %}

				        <span class="current">
				            &nbsp;&nbsp;&nbsp;&nbsp;Page {{ books.number }} of {{ books.paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;
				        </span>

				        {% if books.has_next %}
				            <a href="?{% url_replace request 'page' books.next_page_number %}" class="btn btn-primary">Next</a>
				        {% endif %}
				    </span>
				</div>

			{% else %} <p>No results to show.</p>
			{% endif %}
		{% endif %}
		

	</div>
	{# <!-- End here --> #}
	
	<script type='text/javascript'>	
		$(document).ready(function() {
			$("#parameters").multiselect();
			$("#sortCondition").multiselect();
			
			$("#searchbutton").click(function() {
				var selected = $("#parameters option:selected");
				if($("#query").val().length > 0) {
					if(selected.length > 0) {
						$("#searchform").submit();
					}
					else {
						alert("Please select at least one parameter.");
					}
				}
				else {
					alert("Please enter some text.");
				}
			});

			$(".wishlist").multiselect();
			$(".wishlist").on('change', function(e) {
				var bookISBN = $(this).attr('id');
				console.log(bookISBN);
				var optionSelected = $("option:selected", this);
				var valueSelected = this.value;
				console.log(valueSelected);
				// send request now
				$.post("{% url 'wishlist_api' %}", {
					'bookISBN': bookISBN,
					'status': valueSelected,
				}, function(data) {

					console.log(data);
					
				});
			});

			$(".owned_books").multiselect();
			$(".owned_books").on('change', function(e) {
				var bookISBN = $(this).attr('id');
				console.log(bookISBN);
				var optionSelected = $("option:selected", this);
				var valueSelected = this.value;
				console.log(valueSelected);
				// send request now
				$.post("{% url 'owned_books_api' %}", {
					'bookISBN': bookISBN,
					'status': valueSelected,
				}, function(data) {

					console.log(data);
					
				});
			});

		});
	</script>

{% endblock %}