{% extends "base_page.html" %}

{% block title %}Welcome to BookBench{% endblock %}

{% block content %}
	{% load static %}
	<div class="container">
		{# All details of the book #}
		<h4>Book Details:</h4>
		<div class="jumbotron">
			<img src="{{ book.picture.url }}" alt="{{book.name|capfirst}}" width="25%" height="25%"> <br>
			<h4><a href="{% url 'book_details' book.ISBN %}">{{book.name|capfirst}}</a></h4>
			<b>ISBN:</b> {{book.ISBN}} <br>
			<b>Description:</b> {{book.description|capfirst}} <br>
		
			<b>Authors:</b> {% for author in book.authors.all %} <a href="{% url 'author_details' author.ID %}" class="text-success">{{author.name}}</a> {% endfor %} <br>
			<b>Genres:</b> {% for genre in book.genres.all %} <a href="{% url 'genre_details' genre.ID %}" class="text-success">{{genre.name}}</a> {% endfor %} <br>
			<b>Publication:</b> <a href="{% url 'publication_details' book.publication.ID %}" class="text-success">{{book.publication.name}}</a> <br>
			<input type="number" id="avg_rating" class="rating" data-size="xs" value="{{avg_rating}}" disabled="disabled" data-step="0.1">
			<a href="{% url 'userbook' book.ISBN %}" class="btn btn-primary">Users who have this book</a>
		</div>

		{# my review #}
		<div class="jumbotron">
		<h4>Rate this book</h4>
			<input type="number" id="my_rating" class="rating-loading" data-size="xs" value="{{my_rating}}">
			{% if not my_review %}
				{# if there is no rating, then add one #}
				<form action="" id="reviewForm">
					<textarea name="my_review" id="my_review" maxlength="1000" cols="100" rows="10"></textarea> <br>
					<button type="button" id="submit_review" class="btn btn-primary">Post review</button>
				</form>
			{% else %}
			<p>You have already reviewed.</p>
			{% endif %}
		</div>

		{# All reviews #}
		<div class="">
			<h4>All Reviews</h4>
			{% if reviews %}

				{# check for reviews where user has rated  #}
				{% for review in reviews_user_rated %}
					<div class="jumbotron">
						<b>Reviewed by:</b> <a href="{% url 'user_details' review.on_review.review_user.ID %}">{{review.on_review.review_user.get_full_name|capfirst}}</a> <br>
						<b>Reviewed on:</b> {{review.on_review.timestamp}} <br>
						{% if review.text %}
						<b>Description:</b> {{review.on_review.text}} <br>
						{% endif %}
						<input type="number" id="{{review.on_review.ID}}" class="rating" data-size="xs" value="{{review.on_review.rating}}" disabled="disabled" data-step="1">

						{# check if I'm the one who's reviewed it #}
						{% ifequal user review.on_review.review_user %}
							You cannot rate your own review as helpful. <br>
						{% else %}
							<b>Was this review helpful?</b>
							{# select option if already exists #}
							{% if review.is_helpful %}
								<select name="{{review.on_review.ID}}" id="{{review.on_review.ID}}" class="review_helpful">
									<option value="yes" selected="selected">Yes</option>
									<option value="no">No</option>
									<option value="none">None</option>
								</select> 
							{% else %}
								<select name="{{review.on_review.ID}}" id="{{review.on_review.ID}}" class="review_helpful">
									<option value="yes">Yes</option>
									<option value="no" selected="selected">No</option>
									<option value="none">None</option>
								</select> 
							{% endif %}
							<br>
							{# number of people finding it useful #}
						{% endifequal %}
						<span id="{{review.on_review.ID}}tip">
						{% ifequal review.helpful 1 %}{{review.helpful}} person found it helpful.
						{% else %} {{review.helpful}} people found it helpful.
						{% endifequal %}
						</span><br>

						{# report this #}
						{% ifequal user review.on_review.review_user %}
							You cannot report your own review. <br>
						{% else %}
							<button class="report_review_button btn btn-danger" id="{{review.on_review.ID}}">Report Review</button>
						{% endifequal %}

					</div>
				{% endfor %}

				{# check for reviews where user hasn't rated #}
				{% for review in reviews_user_not_rated %}
					<div class="jumbotron">
						<b>Reviewed by:</b> <a href="{% url 'user_details' review.review_user.ID %}">{{review.review_user.get_full_name|capfirst}}</a> <br>
						<b>Reviewed on:</b> {{review.timestamp}} <br>
						{% if review.text %}
						<b>Description:</b> {{review.text}} <br>
						{% endif %}
						<input type="number" id="{{review.ID}}" class="rating" data-size="xs" value="{{review.rating}}" disabled="disabled" data-step="1">

						{# check if I'm the one who's reviewed it #}
						{% ifequal user review.review_user %}
							You cannot rate your own review as helpful. <br>
						{% else %}
							<b>Was this review helpful?</b>
							{# select option if already exists #}
							<select name="{{review.ID}}" id="{{review.ID}}" class="review_helpful">
								<option value="yes">Yes</option>
								<option value="no">No</option>
								<option value="none" selected="selected">None</option>
							</select> <br>
							{# number of people finding it useful #}
						{% endifequal %}

						<span id="{{review.ID}}tip">
						{% ifequal review.helpful 1 %}{{review.helpful}} person found it helpful.
						{% else %} {{review.helpful}} people found it helpful.
						{% endifequal %}
						</span><br>
						
						{# report this #}
						{% ifequal user review.review_user %}
							You cannot report your own review. <br>
						{% else %}
							<button class="report_review_button btn btn-danger" id="{{review.ID}}">Report Review</button>
						{% endifequal %}


					</div>
				{% endfor %}
			{% else %}
			<p>There are no reviews yet.</p>
			{% endif %}
		</div>

	</div>


	{# div for reporting #}
	<div id="report_dialog" class="dialog" style="display: none;" title="Report this post" width="70%">
		<textarea name="" id="report_text" cols="100" rows="10"></textarea>
		<button type="button" class="btn btn-warning" id="submit_report">Report</button>
	</div>

	
	<!-- script -->
	<script type="text/javascript">
		$(document).ready(function(){

			var reviewID = "";

			$("#report_dialog").dialog({
				autoOpen: false,
			});
			document.getElementById("report_dialog").style.display = "";

			/* report the review */
			$(".report_review_button").click(function(){
				$("#report_dialog").dialog("open");
				reviewID = $(this).attr("id");
				$("#report_text").val("");
			});

			/* send report */
			$("#submit_report").click(function(){
				var text = $("#report_text").val();
				if(text.length == 0)
					alert("Please enter a report text.");
				else {
					$("#report_dialog").dialog("close");
					$.post("{% url 'add_report_api' %}", {
						'reviewID': reviewID,
						'text': text,
					}, function(data){
						if(data == "0") {
							alert("Reported successfully!");
						} else if(data == "1") {
							alert("Report updated successfully!");
						} else {
							console.log(data);
							alert("There was some error.");
						}

					});
				}

			});

			$(".review_helpful").multiselect();
			$(".review_helpful").on('change', function(e) {
				var reviewID = $(this).attr('id');
				console.log(reviewID);
				var optionSelected = $("option:selected", this);
				var valueSelected = this.value;
				console.log(valueSelected);
				// send request now
				$.post("{% url 'update_review_helpful_api' %}", {
					'reviewID': reviewID,
					'response': valueSelected,
				}, function(data) {
					console.log(data);
					if(data != "1")	
						$("#"+reviewID+"tip").text(data + " people found it helpful.");
					else
						$("#"+reviewID+"tip").text(data + " person found it helpful.");
				});
			});


			$("#my_rating").rating({step: 1}).on("rating:change", function(event, value, caption) {
				console.log(value);
				if(value<1) {
					alert("Rating should be at least 1");
				}
				/* send request to API to update */
				$.post("{% url 'update_rating_api' %}", {
					'ISBN' : '{{book.ISBN}}',
					'my_rating' : value,
				}, function(data) {
					data = JSON.parse(data);
					$("#avg_rating").val(data['avg_rating']);
					$("#avg_rating").rating('update', data['avg_rating']);
				});
			});

			/* check for my review */
			$("#submit_review").click(function() {
				if($("#my_review").val().length > 0) {
					$.post("{% url 'update_review_api' %}", {
						'ISBN': '{{book.ISBN}}',
						'my_review' : $("#my_review").val(),
					}, function(data) {
						if(data == '1') {
							$("#reviewForm").hide();
							location.reload();
						}
					});
				}
				else {
					alert("Write a review first.");
				}
			});

		});
	</script>

{% endblock %}