{% extends "base_page.html" %}

{% block title %}Check Reports{% endblock %}

{% block content %}

<div class="container">
		
		<div class="jumbotron">
			<br>
			<br>
			<h4>Check Reports</h4>
			<br>
		</div>

		{% if results %} 
		<h4>Search results</h4> 
			{% if reports %}
				{% for report in reports %}
				<div class="jumbotron" id = "div_{{report.ID}}">
					<b>Report ID</b> {{report.ID}} <br>
					<b>Description:</b> {{report.text}} <br>
					<b>Review Text:</b>{{report.on_review.text}}<br>
					<b>Reviewed By : </b>{{report.on_review.review_user.get_full_name}}<br>
					<b>Reported By: </b>{{report.report_user.get_full_name}}<br>
					<button type = "submit" class = "remove_report" id="{{report.ID}}">Remove Report</button>
					<button type = "submit" class = "delete_review" value="{{report.ID}}" id = "{{report.on_review.ID}}">Delete Review</button> 	
				</div>
				{% endfor %}
			{% else %} <p>No results to show.</p>
			{% endif %}
		{% endif %}

	</div>
	{# <!-- End here --> #}
	
	<script type='text/javascript'>	
		$(document).ready(function() {
			$(".remove_report").click(function() {
				var report_id = $(this).attr('id');
				$.post("{% url 'delete_report_api' %}", {
					'reportID': report_id,
				}, function(data) {
					console.log(data);
					$("#div_"+report_id).hide();
				});
			});

			$(".delete_review").click(function() {
				// var report_id = $(this).val();
				var report_id = $(this).val();
				var parent = $(this).parent();
				var review_id = $(this).attr('id');
				// alert(report_id);
				// alert(review_id);
				$.post("{% url 'delete_review_api' %}", { 'reviewID' : review_id}, function(data){
					console.log(data);
					parent.hide();
				});
			});	
		});
	</script>

{% endblock %}