{% extends "base_page.html" %}

{% block title %}Welcome to BookBench{% endblock %}

{% block content %}
	{% if user.active == True %}
		<div class="container">
			{% if messages %}
			<div class="container">
				{% for message in messages %}
					{% if 'error' in message.tags %}
						<p class="text-error">{{message}}</p>
					{% else %}
						<p class="text-success">{{message}}</p>
					{% endif %}
				{% endfor %}			
			</div>
			{% endif %}
		
			<div class="jumbotron">
				<a href="#" id="changedp"><img src="{{ user.profile_picture.url }}" alt="{{user.get_full_name}}" width="20%" height="20%"></a><br>
				Click your profile picture to change it. <br>
				<h3>{{ user.get_full_name }}</h3>
				<p class="text-warning">{{user.get_status_display}}</p>
			</div>
			
			
		</div>

		<!-- handler for changing profile picture -->
		<script type="text/javascript">
			$(document).ready(function(){

				document.getElementById("dialog").style.display = "";
				$("#dialog").dialog({
					autoOpen: false,
				});

				$("#changedp").click(function() {
					$("#dialog").dialog( "open" );
				});
			});
		</script>

			<!-- dialog -->
		<div id="dialog" style="display: none;" title="Upload profile picture">
			<form action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="file" name="image" accept="image/*" required="required"> <br>
				<input type="submit" class="btn btn-primary" value="Upload!">
			</form>
		</div>
	{% else %}
		<br><br><b><p style = "color:red">YOU HAVE BEEN BANNED! (Please contact administrator) </p></b><br><br>
	{% endif %}
{% endblock %}