{% extends "base_page.html" %}

{% block title %}Welcome to BookBench{% endblock %}

{% block content %}
	
	<div class="header-w3l">
		<h1>BookBench Login</h1>
	</div>

	<div class="main-content-agile">
	<div class="sub-main-w3">
		<form action="" method="POST">
			{# messages #}
			{% if messages %}
				{% for message in messages %}
					{% if 'error' in message.tags %}
					<p class="text-danger">{{message}}</p>
					{% elif 'success' in message.tags %}
					<p class="text-success">{{message}}</p>
					{% endif %}							
				{% endfor %}
			{% endif %}

			{% csrf_token %} <br>
			<font color="white">E-mail:</font> {{form.email}}<br>
			<font color="white">Password:</font> {{form.password}}<br>
			<input type="submit" value="Login">
		</form>
	</div>
	</div>

{% endblock %}