{% extends "base_page.html" %}

{% block title %}Messages{% endblock %}

{% block content %}
	{% load mytags %}
	<div class="container">
		<button class = 'inbox btn btn-primary' type = 'submit'>Inbox</button>
		<button class = 'outbox btn btn-primary' type = 'submit'>Outbox</button>
		<button class = 'compose btn btn-primary' type = 'submit'>Compose</button>
	</div>

	<div class='content_inbox'>
		<!-- {{message.sender.getfullname}} -->
		<h4>InBox</h4> 
			{% if inbox %}
				{% for message in inbox %}
				<div class="jumbotron">
					<h4><a href="{% url 'user_details' message.sender.ID %}">{{message.sender.get_full_name}}</a></h4>
					<b>Text:</b> {{message.message_text}} <br>
					<b>Time:</b>{{message.message_timestamp}}<br>
					<button class = 'reply btn-success btn' type="submit" id = "{{message.sender.email}}">Reply</button>
				</div>
				{% endfor %}
				
			{% else %} <p>No messages to show.</p>
			{% endif %}	 	

	</div>

	<div class='content_outbox'>
		<h4>OutBox</h4> 
			{% if outbox %}
				{% for message in outbox %}
				<div class="jumbotron">
					<h4><a href="{% url 'user_details' message.receiver.ID %}">{{message.receiver.get_full_name}}</a	></h4>
					<b>Text:</b> {{message.message_text}} <br>
					<b>Time:</b>{{message.message_timestamp}}<br>
				</div>
				{% endfor %}
				
			{% else %} <p>No messages to show.</p>
			{% endif %}

	</div>	

	<div  class = 'dialog' id="dialog" style="display: none">
		<input align = "70%" type = "email" class="form-control" name = 'email_id' id = "email_id" placeholder="Email ID"> <br>
		<div class="form-group"><textarea name="message_text" id="message_text" rows="10" class="form-control" placeholder="Message"></textarea></div>
		<button type="submit" value="Submit" class = 'Send btn btn-success'>Send</button>
		<button type="submit" value="Close" class = 'Close btn btn-warning'>Close</button>		

	</div>

	<script type='text/javascript'>	

		$(document).ready(function() {
			$(".content_outbox").hide();
			$("#dialog").show();
			// $(".content_compose").hide();
			$("#dialog").dialog({
				autoOpen: false,
				title: 'Send message',
				width: "90%",
				maxWidth: "768px",
			})

			$(".inbox").click(function() {
				$(".content_inbox").show();
				$(".content_outbox").hide();
			});

			$(".outbox").click(function(){
				$(".content_inbox").hide();
				$(".content_outbox").show();
			});


			$(".compose").click(function(){
				$("#dialog").dialog("open");
			});

			$(".Send").click(function(){
				var email_id = $("#email_id").val();
				var message_text = $("#message_text").val();
				if(message_text.length>0) {
					$.post("{% url 'add_message_api' %}", {
							'email_id': email_id,
							'message_text': message_text,
						}, function(data){
							if (data == "-1"){
								alert("Some error in sending the message");
							}
							else if (data == "-2"){
								alert("Enter Valid Email ID");
								$("#email_id").val("");
							}
							else{
								alert("Message sent successfully");
								location.reload();
							}
						});
				}
				else {
					alert("Enter a message");
				}
			});

			$(".Close").click(function(){
				$("#dialog").dialog("close");
			});

			$(".reply").click(function(){
				$("#dialog").dialog("open");
				var sender_email = $(this).attr("id");
				$("#email_id").val(sender_email);
			});

		});
	</script>

{% endblock %}