{% extends "base_page.html" %}

{% block title %}Users who have this book{% endblock %}

{% block content %}
	<div class="container">
		{# user book #}
		<h4>Book Details:</h4>
		<div class="jumbotron">
			<img src="{{ book.picture.url }}" alt="{{book.name|capfirst}}" width="25%" height="25%"> <br>
			<h4><a href="{% url 'book_details' book.ISBN %}">{{book.name|capfirst}}</a></h4>
			<b>ISBN:</b> {{book.ISBN}} <br>
			<b>Description:</b> {{book.description|capfirst}} <br>
		
			<b>Authors:</b> {% for author in book.authors.all %} <a href="{% url 'author_details' author.ID %}" class="text-success">{{author.name}}</a> {% endfor %} <br>
			<b>Genres:</b> {% for genre in book.genres.all %} <a href="{% url 'genre_details' genre.ID %}" class="text-success">{{genre.name}}</a> {% endfor %} <br>
			<b>Publication:</b> <a href="{% url 'publication_details' book.publication.ID %}" class="text-success">{{book.publication.name}}</a> <br>
			<input type="number" id="avg_rating" class="rating" data-size="xs" value="{{avg_rating}}" disabled="disabled" data-step="0.1">
		</div>


		<div class="row">
			<h4 style="color: white;">Users who have this book</h4><br>
			<div class="col-sm-4">
				{% if userbooks %}
					{% for userbook in userbooks %}
						<div class="jumbotron">
							<a href="{% url 'user_details' userbook.user.ID %}">{{userbook.user.get_full_name}}</a>
							 <br>
							<b>Status</b>: {{userbook.get_status_display}} <br>
						</div>
					{% endfor %}
				{% else %}
					No users have this book. :(
				{% endif %}
			</div>
			<div class="col-sm-8">
				<div class="map" style="height: 500px; max-width: none;"></div>
			</div>

		</div>

		<div class="container">
			
		</div>
	</div>



<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAPew6cV1c1yg9gXpzQYvnsQ9cBCDB5EME&sensor=false"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
    $(document).ready(function() {

        var latlng = new google.maps.LatLng("{{ user.latitude }}", "{{ user.longitude }}");
        var mapOptions = {
            zoom: 15,
            center: latlng,
            mapTypeControl: false,
            navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map($('.map')[0], mapOptions);
        
        new google.maps.Marker({
                position: latlng,
                map: map,
                title:"You"
        });

        {% for userbook in userbooks %}
            latlng = new google.maps.LatLng("{{ userbook.user.latitude }}", "{{ userbook.user.longitude }}");
            new google.maps.Marker({
                position: latlng,
                map: map,
                title:"{{ userbook.user.get_full_name }}"
            });
        {% endfor %}
    });
</script>
{% endblock %}