{% extends "base_page.html" %}

{% block title %}My wishlist{% endblock %}

{% block content %}
	{% load mytags %}
	<h4>My Wishlist</h4> 
		{% if wishlist_books %}
			{% for book in wishlist_books %}
			<div class="jumbotron">
				<h4><a href="{% url 'book_details' book.ISBN %}">{{book.name|capfirst}}</a></h4>
				<b>Score:</b> {{book.score}} <br>
				<b>ISBN:</b> {{book.ISBN}} <br>
				<b>Description:</b> {{book.description|capfirst}} <br>

				<b>Authors:</b> {% for author in book.authors.all %} <a href="{% url 'author_details' author.ID %}" class="text-success">{{author.name}}</a> {% endfor %} <br>
				<b>Genres:</b> {% for genre in book.genres.all %} <a href="{% url 'genre_details' genre.ID %}" class="text-success">{{genre.name}}</a> {% endfor %} <br>
				<b>Publication:</b> <a href="{% url 'publication_details' book.publication.ID %}" class="text-success">{{book.publication.name}}</a> <br>

				{% if book.wish_status == 0 %}

				<select name="{{book.ISBN}}" id="{{book.ISBN}}" class="wishlist">
							<option value="none" >None</option>
							<option value="RE" selected="selected">Read</option>
							<option value="CR">Currently Reading</option>
							<option value="WR">Want to read</option>
				</select> <br>

				{% elif book.wish_status == 1 %}

				<select name="{{book.ISBN}}" id="{{book.ISBN}}" class="wishlist">
							<option value="none" >None</option>
							<option value="RE">Read</option>
							<option value="CR" selected="selected">Currently Reading</option>
							<option value="WR">Want to read</option>
				</select> <br>

				{% else %}

				<select name="{{book.ISBN}}" id="{{book.ISBN}}" class="wishlist">
							<option value="none" >None</option>
							<option value="RE">Read</option>
							<option value="CR">Currently Reading</option>
							<option value="WR" selected="selected">Want to read</option>
				</select> <br>

				{% endif %}

			</div>
			{% endfor %}
			{# Here the book thingy ends #}
			<div class="pagination text-center container">
			    <span class="step-links">
			        {% if wishlist_books.has_previous %}
			            <a href="?{% url_replace request 'page' wishlist_books.previous_page_number %}" class="btn btn-primary">Previous</a>
			        {% endif %}

			        <span class="current">
			            &nbsp;&nbsp;&nbsp;&nbsp;Page {{ wishlist_books.number }} of {{ wishlist_books.paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;
			        </span>

			        {% if wishlist_books.has_next %}
			            <a href="?{% url_replace request 'page' wishlist_books.next_page_number %}" class="btn btn-primary">Next</a>
			        {% endif %}
			    </span>
			</div>

		{% else %} <p>No results to show.</p>
		{% endif %}
	</div>
    	
    <script type='text/javascript'>	
		$(document).ready(function() {

			$(".wishlist").multiselect();
			$(".wishlist").on('change', function(e) {
				var bookISBN = $(this).attr('id');
				console.log(bookISBN);
				var optionSelected = $("option:selected", this);
				var valueSelected = this.value;
				console.log(valueSelected);
				if(valueSelected=="none"){
					location.reload();
				}

				// send request now
				$.post("{% url 'wishlist_api' %}", {
					'bookISBN': bookISBN,
					'status': valueSelected,
				}, function(data) {
					console.log(data);
					
				});
			});

		});

		

	</script>
{% endblock %}